<html>
  <head>
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <p>{{ loadFn01() }}</p>
    <p>{{ loadFn02() }}</p>
    <div>------</div>
    {{ testKey }}
    {{ loadFn() }}
  </body>
</html>
